/* body {
  background-color: #f5f5f6;
}
table.dataTable {
  width: 100% !important;
  border-collapse: collapse !important;
}
table.dataTable.table-responsive:not(.datatables-ajax) {
  display: block;
}
table.dataTable td,
table.dataTable th {
  padding: 1.5rem 1.5rem;
  vertical-align: middle;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  padding-right: inherit;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  color: #fff;
  width: 14px;
  height: 14px;
  content: "";
  right: 0.3rem;
  top: 0.5rem;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  color: #fff;
  width: 14px;
  height: 14px;
  content: "";
  right: 0.3rem;
  top: 1.3rem;
}
div.dataTables_wrapper .dt-button-collection {
  background-color: #fff;
}
div.dataTables_wrapper .dt-button-collection > div[role="menu"] {
  text-align: left;
  box-shadow: 0px 5px 16px -8px;
  min-width: 8rem;
}
div.dataTables_wrapper .dt-button-collection [class*="buttons-"]:focus {
  outline: 0;
}
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  line-height: 0.8em;
}
@media screen and (max-width: 1399.98px) {
  table.dataTable.table-responsive {
    display: block;
  }
}
.modal.dtr-bs-modal .modal-body {
  padding: 0;
}
.modal.dtr-bs-modal .table tr:last-child > td {
  border-bottom: 0;
}
div.dataTables_wrapper div.dataTables_filter label,
div.dataTables_wrapper div.dataTables_length label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
div.dataTables_wrapper div.dataTables_filter select,
div.dataTables_wrapper div.dataTables_length select {
  background-position: calc(100% - 3px) 11px, calc(100% - 20px) 13px, 100% 0;
  width: 5rem;
  margin: 0 0.5rem;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.75rem;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
div.dataTables_wrapper .dataTables_info {
  padding-top: 1.25rem !important;
  color: #fcfcfc;
}
tr.group {
  background-color: #fff;
}
@media only screen and (max-width: 992px) {
  table.dataTable.table-responsive.datatables-ajax {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
  }
  div.dataTables_wrapper div.dataTables_info {
    white-space: inherit;
  }
  div.dt-buttons {
    justify-content: center;
    margin-top: 1rem;
  }
  div.dt-buttons button {
    margin-bottom: 0.5rem;
  }
}
.bg-light-success {
  background: rgba(40, 199, 111, 0.12) !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.badge {
  padding: 0.3rem 0.5rem;
  text-align: center;
  border-radius: 0.358rem;
}
.bg-light-success {
  color: #28c76f !important;
}
.bg-light-info {
  background: rgba(0, 207, 232, 0.12) !important;
}
.badge {
  display: inline-block;
  font-size: 85%;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  vertical-align: baseline;
}
.bg-light-info {
  color: #00cfe8 !important;
}
.bg-light-primary {
  color: #7367f0 !important;
}
.bg-light-primary {
  background: rgba(115, 103, 240, 0.12) !important;
}
.bg-light-danger {
  background: rgba(234, 84, 85, 0.12) !important;
}
.bg-light-danger {
  color: #ea5455 !important;
}
.bg-light-warning {
  background: rgba(255, 159, 67, 0.12) !important;
}
.bg-light-warning {
  color: #ff9f43 !important;
}

.react-dataTable {
  border-radius: 0;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  background-color: #f3f2f7;
  border-top: 1px solid;
  border-color: #ebe9f1;
  min-height: 0;
  height: 38px;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
  padding: 0.72rem 1.5rem;
}
.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol
  .rdt_TableCol_Sortable {
  color: #6e6b7b;
  font-weight: bold;
  font-style: 0.857rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol
  .rdt_TableCol_Sortable:hover {
  opacity: 1;
}
.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol
  .rdt_TableCol_Sortable
  span {
  margin-left: 0.35rem;
}
.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:first-child
  .form-check {
  transform: translateX(-10px);
}
.react-dataTable .rdt_TableBody .rdt_TableRow {
  color: #6e6b7b;
}
.react-dataTable .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  height: 53px;
  padding: 0.72rem 1.5rem;
}
.react-dataTable
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell
  .column-action
  svg {
  stroke: #6e6b7b;
}
.react-dataTable
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell
  .column-action
  .dropdown-item:active
  svg {
  stroke: #fff;
}
.react-dataTable
  .react-paginate.separated-pagination
  .page-item:first-child
  .page-link,
.react-dataTable
  .react-paginate.separated-pagination
  .page-item:last-child
  .page-link {
  border-radius: 50%;
}
.react-dataTable.roles-table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:first-child
  .form-check {
  transform: translateX(0);
}
.react-dataTable.roles-table
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell:first-child
  .form-check {
  transform: translateX(10px);
}
@media (max-width: 740px) {
  .permission-header .add-permission {
    margin-top: 1rem !important;
  }
}
.rdt_Pagination select {
  min-width: 30px;
}
.rdt_Pagination select:focus,
.rdt_Pagination select:active {
  outline: 0;
}
.dataTable-filter {
  max-width: 220px;
}
.dataTable-select {
  width: 5rem;
}
.dataTable-select:not([multiple="multiple"]) {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-position: calc(100% - 12px) 10px, calc(100% - 20px) 12px, 100% 0;
  background-size: 10px 10px, 10px 10px;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.ms-1 {
  margin-left: 1rem !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d-block {
  display: block !important;
}
.fw-bold {
  font-weight: 500 !important;
}
.jVeafb {
  background-color: #ffffff !important;
}

.page-item {
  border-radius: 5rem;
}
.page-item:not(.prev-item) .page-link,
.page-item:not(.next-item) .page-link,
.page-item:not(.first) .page-link,
.page-item:not(.last) .page-link,
.page-item:not(.active) .page-link {
  line-height: 1.3;
}
.page-item .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item.previous .page-link,
.page-item.prev .page-link,
.page-item.next .page-link,
.page-item.first .page-link,
.page-item.last .page-link {
  width: auto;
}
.page-item.prev-item .page-link,
.page-item.next-item .page-link {
  transition: all 0.2s ease-out;
}
.page-item.prev-item {
  margin-right: 0.3571rem;
}
.page-item.prev-item .page-link {
  border-radius: 50%;
}
.page-item.prev-item .page-link:before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  color: #6e6b7b;
  width: 8px;
  height: 18px;
  content: "";
}
.page-item.prev-item ~ .page-item:nth-child(2) {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.page-item.prev-item ~ .page-item:nth-child(2) .page-link {
  border-top-left-radius: 5rem !important;
  border-bottom-left-radius: 5rem !important;
}
.page-item.prev-item ~ .page-item:nth-last-child(2) {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.page-item.prev-item ~ .page-item:nth-last-child(2) .page-link {
  border-top-right-radius: 5rem !important;
  border-bottom-right-radius: 5rem !important;
}
.page-item.next-item {
  margin-left: 0.3571rem;
}
.page-item.next-item .page-link {
  border-radius: 50%;
}
.page-item.next-item .page-link:after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  width: 8px;
  height: 18px;
  content: "";
}
.page-item.prev .page-link:before,
.page-item.previous .page-link:before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  color: #6e6b7b;
  width: 12px;
  height: 18px;
  content: "";
}
.page-item.next .page-link:after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  color: #6e6b7b;
  width: 12px;
  height: 18px;
  content: "";
}
.page-item .page-link {
  margin: 0;
  margin-left: 0;
  font-size: 1rem;
  min-width: 2.286rem;
}
.page-item .page-link:focus {
  box-shadow: none;
}
.page-item.active {
  border-radius: 0;
}
.page-item.active .page-link {
  z-index: 3;
  border-radius: 5rem;
  font-weight: 600;
}
.page-item:first-child:not(.prev-item).active {
  border-top-left-radius: 1.428rem;
  border-bottom-left-radius: 1.428rem;
}
.page-item:first-child:not(.prev-item).active .page-link {
  border-radius: 5rem;
}
.page-item:first-child:not(.prev-item) .page-link {
  border-top-left-radius: 1.428rem;
  border-bottom-left-radius: 1.428rem;
}
.page-item:last-child:not(.next-item).active {
  border-top-right-radius: 1.428rem;
  border-bottom-right-radius: 1.428rem;
}
.page-item:last-child:not(.next-item).active .page-link {
  border-radius: 5rem;
}
.page-item:last-child:not(.next-item) .page-link {
  border-top-right-radius: 1.428rem;
  border-bottom-right-radius: 1.428rem;
}
.pagination.pagination-lg .page-item .page-link {
  min-width: 2.6rem;
}
.pagination.pagination-sm .page-item .page-link {
  min-width: 2rem;
}
.pagination {
  display: flex;
  list-style: none;
  background-color: #ffffff;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.pe-1 {
  padding-right: 1rem !important;
}
.pagination {
  padding-left: 0;
}
.page-item.prev-item {
  margin-right: 0.3571rem;
}
.page-item {
  border-radius: 5rem;
}
.pagination {
  display: flex;
  list-style: none;
}
.page-item.active {
  background-color: #f3f2f7;
  border-radius: 0;
}
.page-item.active .page-link {
  border-radius: 5rem;
  background-color: #7367f0;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: 0.857rem;
  min-width: 2rem;
}
.page-item.prev-item ~ .page-item:nth-child(2) .page-link {
  border-top-left-radius: 5rem !important;
  border-bottom-left-radius: 5rem !important;
}
.page-item.prev-item ~ .page-item:nth-child(2) {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.page-item {
  border-radius: 5rem;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: 0.857rem;
  min-width: 2rem;
}
.page-item:not(:first-child) .page-link {
  margin-left: 0;
}
.pagination.react-paginate .page-link {
  transition: all 0.05s ease-in-out;
}
.page-item .page-link {
  margin: 0;
}
.page-item:not(.prev-item) .page-link,
.page-item:not(.next-item) .page-link,
.page-item:not(.first) .page-link,
.page-item:not(.last) .page-link,
.page-item:not(.active) .page-link {
  line-height: 1.3;
}
.pagination-sm .page-link {
  padding: 0.443rem 0.745rem;
}
.page-item .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-link {
  background-color: #f3f2f7;
  border: 0 solid #dae1e7;
}
.page-item.next-item {
  margin-left: 0.3571rem;
}
.react-dataTable
  .react-paginate.separated-pagination
  .page-item:last-child
  .page-link {
  border-radius: 50%;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: 0.857rem;
  min-width: 2rem;
}
.page-item:not(:first-child) .page-link {
  margin-left: 0;
}
.page-item.next-item .page-link:after {
  background-size: 14px;
}
.page-item.next-item .page-link:after {
  width: 8px;
  height: 18px;
  content: "";
}
.page-item.next-item .page-link:after {
  background-image: url(
    data:image/svg + xml,
    %3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24"fill="none"stroke="%236e6b7b"stroke-width="2"stroke-linecap="round"stroke-linejoin="round"class="feather feather-chevron-right"%3E%3Cpolylinepoints="9 18 15 12 9 6"%3E%3C/polyline%3E%3C/svg%3E
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}
.page-item.prev-item.disabled .page-link:before {
  background-image: url(
    data:image/svg + xml,
    %3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24"fill="none"stroke="%23b9b9c3"stroke-width="2"stroke-linecap="round"stroke-linejoin="round"class="feather feather-chevron-left"%3E%3Cpolylinepoints="15 18 9 12 15 6"%3E%3C/polyline%3E%3C/svg%3E
  );
}
.page-item.prev-item .page-link:before {
  background-image: url(
    data:image/svg + xml,
    %3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24"fill="none"stroke="%236e6b7b"stroke-width="2"stroke-linecap="round"stroke-linejoin="round"class="feather feather-chevron-left"%3E%3Cpolylinepoints="15 18 9 12 15 6"%3E%3C/polyline%3E%3C/svg%3E
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}
.page-item.prev-item .page-link:before {
  color: #6e6b7b;
  width: 8px;
  height: 18px;
  content: "";
} */
