body {
  font-family: "Montserrat", sans-serif;
}
.react-dataTable {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  background-color: #f3f2f7;
  border-color: currentcolor #ebe9f1 #ebe9f1;
  border-top: 1px solid #ebe9f1;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  min-height: 0;
  height: 38px;
}
.react-dataTable {
  border-radius: 0;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  min-height: 0;
  height: 38px;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  background-color: #f3f2f7;
  border-color: currentcolor #ebe9f1 #ebe9f1;
  border-top: 1px solid #ebe9f1;
}

.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol
  .rdt_TableCol_Sortable {
  color: #6e6b7b;
  font-weight: 700;
  font-style: 0.857rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol
  .rdt_TableCol_Sortable:hover {
  opacity: 1;
}
.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol
  .rdt_TableCol_Sortable
  span {
  margin-left: 0.35rem;
}
.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol
  .rdt_TableCol_Sortable
  span {
  margin-right: 0.35rem;
}

.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:first-child
  .form-check {
  -webkit-transform: translateX(-6px);
  transform: translateX(-6px);
}

/* .react-dataTable
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:first-child
    .form-check {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  } */
.custom-data-table .form-check .form-check-input {
  float: left;
  margin-left: -1.785rem;
}
.react-dataTable .rdt_TableBody .rdt_TableRow {
  color: #6e6b7b;
}
.react-dataTable .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  height: 53px;
}
.react-dataTable .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  padding: 0.72rem 1.5rem;
}
.react-dataTable
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell
  .column-action
  svg {
  stroke: #6e6b7b;
}
.react-dataTable
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell
  .column-action
  .dropdown-item:hover
  svg {
  stroke: #7367f0;
}
.react-dataTable
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell
  .column-action
  .dropdown-item:active
  svg {
  stroke: #fff;
}
.react-dataTable
  .react-paginate.separated-pagination
  .page-item:first-child
  .page-link,
.react-dataTable
  .react-paginate.separated-pagination
  .page-item:last-child
  .page-link {
  border-radius: 50%;
}
.react-dataTable.roles-table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:first-child
  .form-check {
  -webkit-transform: translateX(0);
}

.react-dataTable.roles-table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:first-child
  .form-check {
  transform: translateX(0);
}
.react-dataTable.roles-table
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell:first-child
  .form-check {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.react-dataTable.roles-table
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell:first-child
  .form-check {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
@media (max-width: 740px) {
  .permission-header .add-permission {
    margin-top: 1rem !important;
  }
}
.rdt_Pagination select {
  min-width: 30px;
}
.rdt_Pagination select:active,
.rdt_Pagination select:focus {
  outline: 0;
}
.dataTable-filter {
  max-width: 220px;
}
.dataTable-select {
  width: 5rem;
}
.dataTable-select:not([multiple="multiple"]) {
  background-size: 10px 10px, 10px 10px;
}
.dataTable-select:not([multiple="multiple"]) {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-position: calc(100% - 12px) 10px, calc(100% - 20px) 12px, 100% 0;
}
.dataTable-select:not([multiple="multiple"]) {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  background-position: 12px 10px, 20px 12px, 0 0;
}
.custom-data-table .form-check-input[type="checkbox"] {
  border-radius: 3px;
}
.custom-data-table .form-check .form-check-input {
  float: left;
  margin-left: -1.785rem;
}
.custom-data-table .form-check-input {
  margin-top: 0.0825rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border: 1px solid #d8d6de;
}
.custom-data-table .form-check-input {
  width: 1.285rem;
  height: 1.285rem;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
  padding: 0.72rem 1rem;
}
.custom-data-table .form-check {
  padding-left: 1.785rem;
}
.custom-data-table .form-check {
  margin-bottom: 0;
}
.custom-data-table .form-check-input:not(:disabled):checked {
  box-shadow: 0 2px 4px 0 rgb(115 103 240 / 40%);
}
.custom-data-table .form-check-input:checked {
  background-color: #7367f0;
  border-color: #7367f0;
}
/* .form-check-input:checked[type="checkbox"] {
  background-image: url('../public/check-solid.svg');
} */

.form-check-input:checked::before {
  /* background-image: url('../public/check-solid.svg'); */
  color: #fff;
  font: var(--fa-font-solid);
  content: "\f00c";
  margin-left: 3px;
}

.custom-data-table .form-check-input {
  margin-top: 0.0825rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border: 1px solid #d8d6de;
}
.custom-data-table .form-check .form-check-input {
  float: left;
  margin-left: -1.785rem;
}
.custom-data-table
  .form-check:not(.form-switch)
  .form-check-input[type="checkbox"]:checked {
  background-size: 65%;
}
.react-dataTable .rdt_TableBody .rdt_TableRow {
  color: #6e6b7b;
}

.page-item.prev-item {
  margin-right: 0.3571rem;
}
.page-item {
  border-radius: 5rem;
}
.page-item.prev-item ~ .page-item:nth-child(2) {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.page-item.active {
  background-color: #f3f2f7;
  border-radius: 0;
}
.page-item {
  border-radius: 5rem;
}
.page-item.prev-item ~ .page-item:nth-child(2) .page-link {
  border-top-left-radius: 5rem !important;
  border-bottom-left-radius: 5rem !important;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: 0.857rem;
  min-width: 2rem;
}
.page-item.active .page-link {
  border-radius: 5rem;
  background-color: #7367f0;
}
.page-item:not(:first-child) .page-link {
  margin-left: 0;
}
.pagination.react-paginate .page-link {
  transition: all 0.05s ease-in-out;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  font-weight: 600;
}
.page-item .page-link {
  margin-left: 0;
}
.page-item .page-link {
  margin: 0;
}
.page-item:not(.active) .page-link,
.page-item:not(.first) .page-link,
.page-item:not(.last) .page-link,
.page-item:not(.next-item) .page-link,
.page-item:not(.prev-item) .page-link {
  line-height: 1.3;
}
.pagination-sm .page-link {
  padding: 0.443rem 0.745rem;
}
.page-item.active .page-link {
  color: #7367f0;
}
.page-item .page-link {
  font-size: 1rem;
  min-width: 2.286rem;
}
.page-item .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-link {
  padding: 0.5rem 0.85rem;
}
.pagination-sm .page-link {
  font-size: 1rem;
}
.page-link {
  background-color: #f3f2f7;
  border: 0 solid #dae1e7;
}
[role="button"] {
  cursor: pointer;
}
.page-link {
  position: relative;
  display: block;
  color: #6e6b7b;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: 0.857rem;
  min-width: 2rem;
}
.page-item:not(:first-child) .page-link {
  margin-left: 0;
}
.pagination.react-paginate .page-link {
  transition: all 0.05s ease-in-out;
}
.page-item .page-link {
  margin: 0;
}
.page-item .page-link {
  margin-left: 0;
}
.page-item:not(.active) .page-link,
.page-item:not(.first) .page-link,
.page-item:not(.last) .page-link,
.page-item:not(.next-item) .page-link,
.page-item:not(.prev-item) .page-link {
  line-height: 1.3;
}
.pagination-sm .page-link {
  padding: 0.443rem 0.745rem;
}
.page-link {
  background-color: #f3f2f7;
  border: 0 solid #dae1e7;
}
.react-dataTable
  .react-paginate.separated-pagination
  .page-item:first-child
  .page-link,
[dir]
  .react-dataTable
  .react-paginate.separated-pagination
  .page-item:last-child
  .page-link {
  border-radius: 50%;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: 0.857rem;
  min-width: 2rem;
}
.page-item.disabled .page-link {
  background-color: #f3f2f7;
  border-color: #dae1e7;
}
.pagination.react-paginate .page-link {
  transition: all 0.05s ease-in-out;
}
.page-item.disabled .page-link {
  color: #b9b9c3;
}
.page-item.disabled .page-link {
  pointer-events: none;
}

.page-item.prev-item.disabled .page-link:before {
  color: #b5b2c1;
  font: var(--fa-font-solid);
  content: "\f104";
}

.page-item.prev-item .page-link:before {
  color: #6e6b7b;
  width: 8px;
  height: 18px;
  font: var(--fa-font-solid);
  content: "\f104";
}
.page-item.next-item.disabled .page-link:after {
  color: #b5b2c1;
  font: var(--fa-font-solid);
  content: "\f105";
}
.page-item.next-item .page-link:after {
  width: 8px;
  height: 18px;
  font: var(--fa-font-solid);
  content: "\f105";
}
.page-item.next-item .page-link:active,
.page-item.next-item .page-link:hover {
  background-color: #7367f0 !important;
}
.page-item.next-item .page-link:hover {
  background: #f3f2f7;
  color: #f3f2f7 !important;
}
.page-item.prev-item .page-link:hover  {
  background: #f3f2f7;
  color: #f3f2f7 !important;
}

.page-item .page-link:hover  {
  color: #7367f0;
}
.page-item.next-item {
  margin-left: 0.3571rem;
}
.page-item.prev-item ~ .page-item:nth-last-child(2) {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.page-item {
  border-radius: 5rem;
}
.page-item.prev-item ~ .page-item:nth-last-child(2) .page-link {
  border-top-right-radius: 5rem !important;
  border-bottom-right-radius: 5rem !important;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: 0.857rem;
  min-width: 2rem;
}
.pagination.react-paginate .page-link {
  transition: all 0.05s ease-in-out;
}
.page-item.next-item .page-link,
.page-item.prev-item .page-link {
  transition: all 0.2s ease-out;
}
.page-item.prev-item .page-link:active,
.page-item.prev-item .page-link:hover {
  background-color: #7367f0 ;
}
